*{
    padding: 0px; 
    margin: 0px;
    font-family: "roboto";
}
.navbar{
    display: flex;
    align-items: center;
    padding: 5px 6px;
    border-bottom: 1px solid rgb(107, 105, 105);
}
.three-lines{
    font-size: 20px;
    display: inline-block;
    margin: 0px 5px;
    cursor: pointer;
}
.youtube-logo{
    display: inline-block;
    width: 100px;
    margin: 0px 5px;
    cursor: pointer;
}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-text{
    width: 400px;
    padding-left: 10px;
    height: 40px;
    border: 1px solid gray;
}
.search-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 100;
    border: 1px solid gray;
    height: 40px;
    width: 60px;
    background-color: rgb(239, 242, 245);
    cursor: pointer;
}
.mic{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left:10px ;
    font-size: 20px;
    font-weight: 100;
    border:none;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background-color: rgb(233, 235, 238);
    cursor: pointer;
}
.camera-logo{
    display: inline-block;
    width: 24px;
    margin: 0px 5px;
    cursor: pointer;
}
.options-logo{
    display: inline-block;
    width: 24px;
    margin: 0px 5px;
    cursor: pointer;
}
.notification-logo{
    display: inline-block;
    width: 24px;
    margin: 0px 5px;
    cursor: pointer;
}
.profile-photo{
    display: inline-block;
    width: 30px;
    border-radius: 50%;
    margin: 0px 5px;
    cursor: pointer;
}
.main{
    display: grid;
    grid-template-columns: 72px 1fr;
}
.sidebar{
    background-color: white;
    height: 100vh;
}
.sidebar{
    display: flex;
    flex-direction: column;
}
#sider{
    margin-bottom: 1px;
    width: 72px;
    height: 72px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}
.content{
    background-color: rgba(202, 202, 218, 0.411);
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.box{
    width: 420px;
    height: 350px;
    padding: 4px;
    margin-right: 10px;
    margin-bottom: 10px;
    flex-shrink: 1;
}
.thumb-img{
    width:100%;
    height: 100%;
    object-fit: cover;
}
.details{
    display: grid;
    grid-template-columns: 50px 1fr;
}
.creater-logo{
    /* background-color: rgba(0, 0, 255, 0.247); */
    padding-top: 10px;
}
.discription{
    /* background-color: rgba(210, 105, 30, 0.274); */
    padding-top: 10px;
}
.title{
    font-size: 14px;
    line-height: 18px;
    font-family: "roboto",arial;
    font-weight: 500;
}
.channel-name , .stat {
    margin-top: 10px;
    color: rgb(92,92,92);
    font-size: 12px;
}
.stat{
    margin-top: 5px;
    padding-bottom: 10px;
}